// .css-16h9ce-MuiFormControl-root {
//   // font-family: 'Circe';
//   font-style: normal;
//   font-weight: 400;
// }

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  overflow: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper ul {
  border: 1px solid var(--accent-inactive-color);
  border-radius: 20px;
  background-color: none;
  overflow: hidden;

  & :hover {
    font-weight: 600;
    color: var(--expense-color);
    background: var(--main-bg-cl);
  }
}
