.authSubmitButton {

  box-sizing: border-box;
  width: 280px;
  height: 50px;

  margin: 0 auto 20px;

  background: var(--main-bg-color);
  border: none;
  border-radius: 20px;

  font-style: normal;

  font-size: 18px;
  line-height: calc(27 / 18);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

@media screen and (min-width: 768px) {
  .authSubmitButton {
    width: 300px;
  }
}

.authSubmitButton:focus {
  cursor: pointer;
  background: var(--accent-active-color);
}

.authSubmitButton:hover {
  cursor: pointer;
  background: var(--accent-active-color);
}

.authLinkButton {
  box-sizing: border-box;
  width: 280px;
  height: 50px;

  margin: 0 auto 20px;

  background: none;
  border: 1px solid var(--accent-active-color);
  border-radius: 20px;

  font-style: normal;

  font-size: 18px;
  line-height: calc(27 / 18);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent-active-color);
}

@media screen and (min-width: 768px) {
  .authLinkButton {
    width: 300px;
  }
}

.authLinkButton:focus {
  cursor: pointer;
  background: var(--accent-active-color);
  color: var(--main-bg-cl);
}

.authLinkButton:hover {
  cursor: pointer;
  background: var(--accent-active-color);
  color: var(--main-bg-cl);
}