.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal__content {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--main-bg-cl);
    transform: scale(0.5);
    display: flex;
    flex-wrap: wrap;
}
.modal__content.active {
    transform: scale(1);
}
.pretitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 140.5%;
    width: 300px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.contained {
    margin-right: 5px;
}
.container__button {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}
.modalLogoutImage {
    display: flex;
}

.modalButton{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
   /* color:#d2fff0; */
    border-radius: 20px;
    height: 43px;
    width: 116px;
    background-color: #e7f8fb;
    border: 2px solid var(--income-color);
}
.modalButton:hover,
.modalButton:focus{
    background-color: var(--income-color);
    color: var(--main-bg-cl);
}