.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-bg-cl);
  transform: scale(0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal__content.active {
  transform: scale(1);
}

.pretitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 140.5%;
  width: 300px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .pretitle {
    margin-right: 0px;
  }
}

.contained {
  margin-right: 5px;
}

.container__button {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 25px;
}

.modalLogoutImage {
  display: flex;
}

.modalButton {
  font-size: 18px;
  line-height: calc(27 / 18);

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  height: 43px;
  width: 200px;
  color: var(--main-bg-cl);
  background: var(--main-bg-color);
  border: none;
  border-radius: 20px;
}

.modalButton:hover,
.modalButton:focus {
  background: var(--accent-active-color);
  color: var(--main-bg-cl);
}
