.registerSection {
  padding: 107px 0;
  margin: 0 auto;

  /* width: 100%; */
}

@media screen and (min-width: 768px) {
  .registerSection {
    position: relative;
    padding-top: 60px;
    padding-bottom: 196px;

    background: #e5e5e5;
  }
}

@media screen and (min-width: 1280px) {
  .registerSection {
    position: relative;
    padding: 0;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 117px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    /* position: relative; */
    display: flex;
    padding: 0;

    background: #e5e5e5;
  }
}

.pictureBox {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 1280px) {
  .pictureBox {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 153px 0 0;
    margin-left: 76px;

    /* background: #e5e5e5; */
  }
}

.text {
  font-size: 30px;
  line-height: calc(45 / 30);

  color: #000000;
}

.ellipsPink {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.ellipsViolet {
  position: absolute;
  bottom: 0;
  left: 0;
}
