.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.logoIcon {
  height: 30px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .logoIcon {
    height: 40px;
    width: 181px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .form {
    width: 410px;
  }
}

.input {
  display: block;
  box-sizing: border-box;
  width: 288px;
  height: 40px;
  padding-left: 55px;

  outline: transparent;
  border: none;
  border-bottom: 1px solid var(--extra-text-color);
  order: 1;
  align-self: stretch;


  font-style: normal;

  font-size: 18px;
  line-height: 27px;

  color: var(--secondary-text-color);
}

.input:focus {
  cursor: pointer;
  color: var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.input:hover {
  cursor: pointer;
  color: var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

@media screen and (min-width: 768px) {
  .input {
    width: 410px;
    height: 32px;
  }
}

.error {
  display: block;
  width: auto;
  min-height: 34px;
  padding-top: 6px;
  text-align: center;
  color: var(--expense-color);
}

.label {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

@media screen and (min-width: 768px) {
  .formBox {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 468px;
    padding: 40px 65px 0;
    margin: 50px auto 0;

    background: var(--main-bg-cl);
    border-radius: 20px;
  }
}