.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  background: #ffffff;
}

.headerLogo {
  display: flex;
  gap: 20px;

  color: var(--main-text-color);
  text-decoration: none;
}

.logoText {
  font-family: 'Poppins Bold';
  font-style: normal;
  /* font-weight: 700; */
  font-size: 30px;
  line-height: calc(45 / 30);
}

.box {
  display: flex;
  flex-direction: column;
  /* padding: 12px 20px; */
  width: 100%;
}
.box::before {
  content: ' ';
  position: absolute;
  left: 480px;
  width: 0px;
  height: 100%;
  border-left: 1px solid #e7e5f2;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .box {
    flex-direction: row;
  }
}
