.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  background: #ffffff;
}

.headerLogo {
  display: flex;
  gap: 20px;

  color: var(--main-text-color);
  text-decoration: none;
}

.logoText {
  font-family: 'Poppins Bold';
  font-style: normal;
  /* font-weight: 700; */
  font-size: 30px;
  line-height: calc(45 / 30);
}
