p {
  margin: 0;
}

.header {
  background: #ffffff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.headerLogo {
  display: flex;
  gap: 20px;

  color: var(--main-text-color);
  text-decoration: none;
}

.logoText {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-size: 30px;
  line-height: calc(45 / 30);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    padding: 0px 20px;
  }
}
