.navigation {
  display: flex;
  gap: 32px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
}

@media screen and (min-width: 768px) {
  .navigation__item {
    display: flex;
    justify-content: start;
    height: 27px;
    width: max-content;
  }
}

@media screen and (min-width: 768px) {
  .navigation__img {
    margin-right: 20px;
  }
}
