.navigation {
    display: flex;
    justify-content: center;
}

.navigation__item:not(:last-child) {
    margin-bottom: 12px;
}

.navigation__img {
    margin-right: 30px;
}

.navigation__img:hover, 
.navigation__img:focus {
    color: #4A56E2;
}