.overlay {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .overlay {
    top: 60px;
  }
}

.modal {
  background-color: var(--main-bg-cl);
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .modal {
    border-radius: 20px;
    width: 480px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 20px;
    width: 540px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    min-height: 630px;
  }
}
