:root {
  --main-bg-color: #24cca7;
  --expense-color: #ff6596;
  --income-color: #24cca7;
  --main-text-color: #000000;
  --secondary-text-color: #bdbdbd;
  --third-text-color: #a6a6a6;
  --extra-text-color: #e0e0e0;
  --accent-active-color: #4a56e2;
  --accent-inactive-color: #6e78e8;
  --main-bg-cl: #ffffff;
  --extra-bg-color: #f1eded;
}
