.authMenu {
  display: flex;
  font-style: normal;
  align-items: center;
  font-size: 18px;
  line-height: 1.15;
  color: #bdbdbd;
}
.user_name {
  margin-right: 12px;
}
.authMenu_line {
  height: 30px;
  border-right: 1px solid #bdbdbd;
}
.logout_btn {
  display: flex;
  align-items: center;
  font-size: inherit;
  font-style: normal;
  border: none;
  padding: 0;
  margin-left: 8px;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
.logout_btn-text {
  margin-left: 8px;
}
