.box {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .box {
    position: relative;
    height: 100vh;
    padding: 40px 70px 40px 16px;
  }
}
