.box {
  display: flex;
  padding-top: 40px;
}
.navigation {
  display: flex;
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    position: relative;
    align-items: center;
    /* height: 100vh; */
    padding: 32px 0 40px 16px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    flex-direction: column;
    padding-top: 40px;
  }
  .navigation {
    display: flex;
  }
}
