.container {
  padding: 107px 20px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.form {
  display: block;
  width: 280px;
  height: 100%;
  margin: auto;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 288px;
  height: 40px;
  padding-left: 55px;

  outline: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  order: 1;
  align-self: stretch;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #bdbdbd;
}

.input:focus {
  cursor: pointer;
  color: #24cca7;
  border-bottom: 1px solid #24cca7;
  /* border-radius: 15px; */
}
.input:hover {
  cursor: pointer;
  color: #24cca7;
  border-bottom: 1px solid #24cca7;
}

.error {
  display: block;
  width: auto;
  min-height: 34px;
  padding-top: 6px;
  text-align: center;
  color: red;
}

.label {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
