@import-normalize;
/* bring in normalize.css styles */
@import 'utils/vars';

@font-face {
  font-family: 'Circe Bold';
  src: url('./fonts/Circe/Circe-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Circe Regular';
  src: url('./fonts/Circe/Circe-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Circe Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7eaf2;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('images/Body/peach.svg'),
      url('images/Body/purple.svg');
    background-repeat: no-repeat;
    background-position: 260% -40%, -160% 140%;
  }
}
@media screen and (min-width: 1000px) {
  body {
    background-position: 140% -40%, -40% 150%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-position: 140% -40%, -40% 160%;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-position: 130% -40%, -20% 160%;
  }
}
@media screen and (min-width: 1480px) {
  body {
    background-position: 120% -30%, -20% 160%;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a.active {
  display: flex;
  align-items: center;
  height: 27px;
  font-family: 'Poppins Bold';
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  color: var(--accent-active-color);
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}
a.active:hover {
  color: var(--accent-active-color);
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}

a.inactive {
  display: flex;
  align-items: center;
  height: 27px;
  font-family: 'Poppins Regular';
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}
a.inactive:hover {
  color: var(--accent-active-color);
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}
@media screen and (min-width: 768px) {
  a.active {
    transform: translateX(10px);
    transition: transform 1s;
  }
  a.inactive {
    transition: transform 1s;
  }
  a.active:hover {
    transform: translateX(10px);
    transition: transform 1s;
  }
  a.inactive:hover {
    transform: translateX(10px);
    transition: transform 1s;
  }
}
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
}

::-webkit-scrollbar-thumb {
  background-color: #ff6596;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff2e71;
}
